.page__modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  padding: 0 19px;
}

.page__modal_opened {
  display: flex;
}

.page__modal_container {
  position: relative;
  padding: 36px;
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  max-width: 430px;
  max-height: 330px;
}

.page__modal_close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  left: calc(100% + 3px);
  bottom: calc(100% + 3px);
  width: 40px;
  height: 40px;
  background-image: url("../closeicon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.page__modal_close:hover {
  opacity: 0.5;
}

.page__modal_heading {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  margin: 0;
}

.page__modal_form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 358px;
  height: 330px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.page__modal_form-input_name {
  width: 341px;
  height: 27.26px;
  border: 1px 0px 0px 0px;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  border: 1px solid #d3d3d3;
  padding: 0 0 0 15px;
}

.page__modal_form-input_description {
  width: 341px;
  height: 27.34px;
  border: 1px 0px 0px 0px;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  border: 1px solid #d3d3d3;
  padding-left: 15px;
}

.page__modal_button {
  width: 358px;
  height: 50.15px;
  padding: 0;
  background-color: #000;
  cursor: pointer;
}

.page__modal_button:hover {
  background-color: #2e2e2e;
}
.page__modal_button-text {
  color: #fff;
  width: 358px;
}
@media screen and (max-width: 800px) {
  .page__modal_container {
    max-width: 380px;
    max-height: 300px;
  }
}

@media screen and (max-width: 320px) {
  .page__modal_container {
    width: 282px;
    height: 322px;
  }
  .page__modal_close {
    width: 26px;
    width: 26px;
    left: calc(100% - 40px);
    bottom: calc(100% + 20px);
  }
}
