.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 51px;
}

.profile__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.profile__info {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 36px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  background-position: center;
  margin-bottom: 24px;
}

.profile__title,
.profile__description {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.profile__title {
  grid-area: title;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.1;
  margin: 0 0 14px;
}

.profile__description {
  grid-area: description;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  max-width: 415px;
  margin: 0;
  text-align: center;
}

.profile__edit-button,
.profile__add-button {
  background: transparent;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.profile__edit-button {
  grid-area: button;
  width: 24px;
  height: 24px;
  background-image: url("../images/edit-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  margin-left: 10px;
}

.profile__edit-button:hover,
.profile__add-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  width: 100%;
  max-width: 300px;
  height: 50px;
  background-image: url("../images/add-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fff;
}

@media screen and (min-width: 800px) {
  .profile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .profile__info {
    margin-bottom: 0;
  }

  .profile__title {
    font-size: 42px;
    margin-bottom: 7px;
  }

  .profile__edit-button {
    margin-left: 18px;
  }

  .profile__image {
    margin-right: 24px;
  }

  .profile__add-button {
    margin-left: auto;
    width: 150px;
  }

  .profile__description {
    text-align: left;
  }
}
